$ColorGrey: #363636;
.all{
  margin-left: auto;
  margin-right: auto;
  color: $ColorGrey;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
}
.divka{
 display: block;
  width: 200px;
  height: 200px;
}
.modalWind{
  position: absolute;
  top: 300px;
  left: 300px;
  background-color: white;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 20px;
}
.back{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  top: 0;
  opacity: 0.7;

}
button{
  margin-right: 20px;
}
.modalView{

}